
@media (min-width: 600px) {

    .titulo{
        font-size: 2.5rem;
    }

    .inputE, .inputC{
        font-size: 1.2rem;
    }

    .Registro{
        font-size: 1.6rem;
    }
    .Enviar{
        font-size: 1.4rem;
        padding: 10px;
    }

    form img{
        max-width: 100px;
    }

}

@media (min-width: 900px) {

    body{

        width: 70%;

    }

    form{
        
        grid-template-columns: auto 1fr;

    }

    .titulo{
        font-size: 3rem;
    }

    .inputE, .inputC{
        font-size: 1.8rem;
    }
    
    .Enviar{
        font-size: 1.8rem;
        padding: 15px;
    }

    .Registro{
        font-size: 1.8rem;
    }

    form img{
        max-width: 100px;
    }

}